<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.preschool.preschoolhome.fullnotice.FullNoticeMapper">
    <!--                 게시판 전체 조회 시 상단 공지                  -->
    <select id="getFullNoticeFix">
        SELECT F.ifull_notice as iFullNotice , F.full_title as fullTitle
        , T.teacher_nm as writer, F.full_notice_fix as fullNoticeFix
        , F.created_at as createdAt
        FROM t_full_notice F
        JOIN t_teacher T
        ON F.iteacher = T.iteacher
        where F.full_notice_fix = 1
        <if test="search != null and search != '' ">
            AND full_title like concat ('%', #{search}, '%')
        </if>
        ORDER BY F.created_at DESC
    </select>

    <!--                 게시판 전체 조회 일반 공지                   -->
    <select id="getFullNoticelist">
        SELECT F.ifull_notice as iFullNotice, F.full_title as fullTitle
        , T.teacher_nm as writer,F.full_notice_fix as fullNoticeFix
        , F.created_at as createdAt
        FROM t_full_notice F
        JOIN t_teacher T
        ON F.iteacher = T.iteacher
        where F.full_notice_fix = 0
        <if test="search != null and search != '' ">
            AND full_title like concat ('%', #{search}, '%')
        </if>
        ORDER BY F.created_at DESC
        limit #{starIdx}, #{row}
    </select>
    <!--                 게시판 전체 조회 개수                  -->
    <select id="selNoticeCnt">
        SELECT COUNT(ifull_notice)
        FROM t_full_notice
        WHERE full_notice_fix = 0
        <if test="search != null and search != '' ">
            AND full_title like concat ('%', #{search}, '%')
        </if>
    </select>
    <select id="selNoticeFixCnt">
        SELECT COUNT(ifull_notice)
        FROM t_full_notice
        WHERE full_notice_fix = 1
        <if test="search != null and search != '' ">
            AND full_title like concat ('%', #{search}, '%')
        </if>
    </select>

    <!--                 게시판 상세 조회 사진                -->
    <select id="selNoticePic">
        SELECT ifull_pic AS ifullPic, full_pic AS pic
        FROM t_full_notice_pics
        where ifull_notice = #{iFullNotice}
    </select>

    <!--                 게시판 상세 조회 글                  -->
    <select id="getNotice">
        SELECT N.full_title as fullTitle, N.full_contents as fullContents,
        T.teacher_nm as writer, N.created_at createdAt
        FROM t_full_notice N
        JOIN t_teacher T
        ON N.iteacher = T.iteacher
        where ifull_notice =#{iFullNotice}
    </select>

    <!--                 유치원 소식 작성                   -->
    <insert id="insFullNotice" keyProperty="ifullNotice" useGeneratedKeys="true">
        INSERT INTO t_full_notice
        (iteacher, full_title, full_contents, full_notice_fix)
        VALUES
        (#{iteacher}, #{fullTitle}, #{fullContents}, #{fullNoticeFix})
    </insert>
    <!--                 유치원 소식 사진 작성                   -->
    <insert id="insFullNoticePics">
        INSERT INTO t_full_notice_pics
        (ifull_notice, full_pic)
        VALUES
        <foreach collection="fullPic" item="pic" open="(" close=")" separator="),(">
            #{ifullNotice}, #{pic}
        </foreach>
    </insert>
    <!--                 유치원 소식 사진 삭제                  -->
    <delete id="delFullNoticePics">
        DELETE
        FROM t_full_notice_pics
        WHERE ifull_notice = #{ifullNotice}
    </delete>
    <!--                 유치원 소식 삭제                   -->
    <delete id="delFullNotice">
        DELETE
        FROM t_full_notice
        WHERE ifull_notice = #{ifullNotice}
    </delete>
    <!--                 유치원 소식 수정                  -->
    <update id="putFullNotice">
        UPDATE t_full_notice
        SET iteacher = #{iteacher},
        full_title = #{fullTitle},
        full_contents = #{fullContents},
        full_notice_fix = #{fullNoticeFix}
        WHERE ifull_notice = #{ifullNotice}
    </update>
    <!--                 유치원 소식 수정 시 사진 삭제                 -->
    <delete id="delUpdFullNoticePics">
        DELETE
        FROM t_full_notice_pics
        WHERE ifull_pic in (
        <foreach collection="delPics" item="ifullPic" separator=",">
            #{ifullPic}
        </foreach>)
    </delete>
    <!--                 유치원 소식 사진 개수 조회                  -->
    <select id="selFullNoticePics">
        SELECT COUNT(ifull_pic)
        FROM t_full_notice_pics
        WHERE ifull_notice = #{ifullNotice}
    </select>
    <!--                 유치원 소식 상단 고정 기능 조회                  -->
    <select id="selNoticeFix">
        SELECT COUNT(full_notice_fix)
        from t_full_notice
        WHERE full_notice_fix = 1
    </select>
    <!--                 유치원 소식 수정 시 불러오기                  -->
    <select id="selFullNoticeUpd">
        SELECT A.full_title AS fullTitle, A.full_contents AS fullContents, A.iteacher AS writer, B.teacher_nm AS writerName,
        A.created_at AS createdAt, A.full_notice_fix AS fullNoticeFix
        FROM t_full_notice AS A
        JOIN t_teacher AS B
        ON A.iteacher = B.iteacher
        WHERE A.ifull_notice = #{ifullNotice}
    </select>
    <!--                 유치원 소식 수정 시 사진 불러오기                  -->
    <select id="selFullNoticeUpdPics">
        SELECT full_pic, ifull_pic
        FROM t_full_notice_pics
        WHERE ifull_notice = #{ifullNotice}
    </select>
</mapper>