<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.preschool.preschoolhome.main.MainMapper">

    <!-- 메인 활동 앨범 -->
    <select id="selMainAlbum">
        SELECT A.ialbum, A.album_title AS albumTitle, A.album_contents AS albumContents, A.created_at AS createdAt,
        B.album_pic AS albumPic
        FROM t_album A
        JOIN t_album_pics B
        ON A.ialbum = B.ialbum
        GROUP BY A.album_title
        ORDER BY A.ialbum DESC
        LIMIT #{startIdx}, #{rowCount}
    </select>
    <!-- 메인 활동 앨범 -->
    <select id="getFullNoticeFix">
        SELECT F.ifull_notice as iFullNotice , F.full_title as fullTitle, T.teacher_nm as writer,
        F.full_notice_fix as fullNoticeFix, F.created_at as createdAt
        FROM t_full_notice F
        JOIN t_teacher T
        ON F.iteacher = T.iteacher
        where F.full_notice_fix = 1
        ORDER BY F.created_at DESC
    </select>

</mapper>



