<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.preschool.preschoolhome.memory.MemoryMapper">
    <!--                   추억앨범 전체 조회 선생님 기준                      -->
    <select id="allMemoryTea">
        A.imemory, A.memory_title as memoryTitle, A.memory_contents as memoryContents
        , A.iteacher, D.teacher_nm as teacherNm, A.created_at as createdAt
        FROM t_memory A
        JOIN t_memory_room B
        ON A.imemory = B.imemory
        JOIN t_kid C
        ON B.ikid = C.ikid
        JOIN t_teacher D
        ON A.iteacher = D.iteacher
        <where>
        <if test="iclass > 0">
            C.iclass = #{iclass}
        </if>
        <if test="search != null and search != '' ">
            (A.memory_title like concat ('%', #{search}, '%')
            OR C.kid_nm like concat ('%', #{search}, '%'))
        </if>
        </where>
        GROUP BY a.imemory
        ORDER BY a.imemory desc
        LIMIT #{startIdx}, #{rowCount}
    </select>

    <!--                   추억앨범 전체 조회 선생님 기준(글 개수)                      -->
    <select id="allMemoryTeaCnt">
        SELECT Count(A.imemory)
        FROM t_memory A
        JOIN t_memory_room B
        ON A.imemory = B.imemory
        JOIN t_kid C
        ON B.ikid = C.ikid
        <where>
            <if test="iclass > 0">
                C.iclass = #{iclass}
            </if>
            <if test="search != null and search != '' ">
                (A.memory_title like concat ('%', #{search}, '%')
                OR C.kid_nm like concat ('%', #{search}, '%'))
            </if>
        </where>
        GROUP BY a.imemory
    </select>
    <!--                   추억앨범 전체 조회 학부모 기준                      -->
    <select id="allMemoryPar">
        A.imemory, A.memory_title as memoryTitle, A.memory_contents as memoryContents
        , A.iteacher, D.teacher_nm as teacherNm, A.created_at as createdAt
        FROM t_memory A
        JOIN t_memory_room B
        ON A.imemory = B.imemory
        JOIN t_kid C
        ON B.ikid = C.ikid
        JOIN t_teacher D
        ON A.iteacher = D.iteacher
        <where>
        <if test="ikid > 0">
            C.ikid = #{ikid}
        </if>
        <if test="search != null and search != '' ">
            (A.memory_title like concat ('%', #{search}, '%')
            OR C.kid_nm like concat ('%', #{search}, '%'))
        </if>
        </where>
        GROUP BY a.imemory
        ORDER BY a.imemory desc
        LIMIT #{startIdx}, #{rowCount}
    </select>
    <!--                   추억앨범 전체 조회 선생님 기준(글 개수)                      -->
    <select id="allMemoryParCnt">
        SELECT Count(A.imemory)
        FROM t_memory A
        JOIN t_memory_room B
        ON A.imemory = B.imemory
        JOIN t_kid C
        ON B.ikid = C.ikid
        <where>
            <if test="ikid > 0">
                C.ikid = #{ikid}
            </if>
            <if test="search != null and search != '' ">
                (A.memory_title like concat ('%', #{search}, '%')
                OR C.kid_nm like concat ('%', #{search}, '%'))
            </if>
        </where>
        GROUP BY a.imemory
    </select>
    <!--                    추억앨범에 걸린 댓글 불러오기                    -->
    <select id="memoryComment">
        SELECT imemory_comment as imemoryComment, memory_comment as memoryComment
        , created_at as createdAt
        FROM t_memory_comment
        WHERE imemory = #{imemory}
    </select>
    <!--                    추억앨범에 걸린 원아 PK 불러오기                    -->
    <select id="iMemoryIkid">
        SELECT ikid, kid_nm as kidNm
        FROM t_memory_room
        WHERE imemory = #{imemory}
    </select>
    <!--                    추억앨범에 걸린 사진 리스트 불러오기                    -->
    <select id="iMemoryPic">
        SELECT memory_pic
        FROM t_memory_album
        WHERE imemory = #{imemory}
    </select>
    <!--                    상세 내용 불러오기                    -->
    <select id="memory">
        SELECT A.imemory, A.memory_title AS memoryTitle , A.memory_contents AS memoryContents
        , A.created_at AS createdAt, B.teacher_nm as teacherNm
        FROM t_memory A
        JOIN t_teacher B
        ON A.iteacher = B.iteacher
        WHERE A.imemory = #{imemory}
    </select>
    <!--                    수정 전 원래 있던 내용 불러오기                    -->
    <select id="selMemory">
        SELECT memory_title AS memoryTitle , memory_contents AS memoryContents
        FROM t_memory
        WHERE imemory = #{imemory}
    </select>
    <!--                   추억앨범 사진 조회                     -->
    <select id="selMemoryPic">
        select memory_pic as memoryPic
        from t_memory_album
        where imemory = #{imemory}
    </select>
    <!--                   추억앨범 pk 조회                      -->
    <select id="selImemory">
        select imemory
        from t_memory
        where imemory = #{imemory}
    </select>
    <!--                    추억 앨범 기존에 태그된 원아                    -->
    <select id="selMemoryKid">
        SELECT ikid
        FROM t_memory_room
        WHERE imemory = #{imemory}
    </select>
    <!--                    추억 앨범 글 작성 시 원아 전체 조회                    -->
    <select id="getFromKids">
        SELECT ikid, iclass, kid_nm AS kidNm
        FROM t_kid
        ORDER BY iclass
    </select>
    <!--                    추억 앨범 글 삭제 전 댓글, 사진, 방 삭제                    -->
    <delete id="delMemoryAll">
        DELETE B, C, D
        FROM t_memory AS A
        LEFT JOIN t_memory_album AS B
        ON A.imemory = B.imemory
        LEFT JOIN t_memory_comment AS C
        ON A.imemory = C.imemory
        LEFT JOIN t_memory_room AS D
        ON A.imemory = D.imemory
        WHERE A.imemory = #{imemory}
    </delete>
    <!--                    추억 앨범 글 삭제                     -->
    <delete id="delMemory">
        DELETE
        FROM t_memory
        WHERE imemory = #{imemory}
    </delete>
    <!--                 추억 앨범 글 등록                -->
    <insert id="insMemory" useGeneratedKeys="true" keyProperty="imemory">
        INSERT INTO t_memory
        SET iteacher = #{iteacher},
        memory_title = #{memoryTitle},
        memory_contents = #{memoryContents}
    </insert>
    <!--                 원아와 연결된 부모의 토큰값 구하기                -->
    <select id="selParFirebaseByLoginUser">
        SELECT A.pr_firebase_token AS FirebaseToken, C.ikid, C.kid_nm AS kidNm
        FROM t_parent AS A
        INNER JOIN t_parent_kid AS B
        ON A.iparent = B.iparent
        INNER JOIN t_kid AS C
        ON B.ikid = C.ikid
        WHERE C.ikid in (
        <foreach collection="ikids" item="ikid" separator=",">
            #{ikid}
        </foreach>)
    </select>
    <!--                 태그된 부모들 추억 앨범 글에 초대                -->
    <insert id="insMemoryRoomInvite">
        INSERT INTO t_memory_room
        ( imemory, ikid )
        VALUES(
        <foreach collection="ikids" item="ikid" separator="),(">
            #{imemory}, #{ikid}
        </foreach>)
    </insert>
    <!--                 추억 앨범 사진 등록                -->
    <insert id="insMemoryPic">
        INSERT INTO t_memory_album
        ( imemory, memory_pic )
        VALUES
        (
        <foreach collection="memoryPics" item="pic" separator="),(">
            #{imemory}, #{pic}
        </foreach>)
    </insert>
    <!--                 추억 앨범 댓글 등록                 -->
    <insert id="insComment" useGeneratedKeys="true" keyProperty="imemoryComment">
        insert into t_memory_comment
        set imemory = #{imemory}, memory_commnet = #{memoryComment},
        iteacher = #{iteacher}, iparent = #{iparent}
    </insert>
    <!--                 추억 앨범 댓글 삭제                -->
    <delete id="delMemoryComment">
        DELETE
        FROM t_memory_comment
        WHERE imemory_comment = #{imemoryComment} AND
        <if test="iteacher > 0">
            iteacher = #{iteacher}
        </if>
        <if test="iparent > 0">
            iparent = #{iparent}
        </if>
    </delete>
    <!--                 추억앨범 댓글 작성 시 푸시를 받을 학부모의 토큰값과 pk값 조회                  -->
    <select id="selParFirebaseByLoginUserComment">
        SELECT A.pr_firebase_token AS FirebaseToken
        FROM t_parent AS A
        INNER JOIN t_parent_kid AS B
        ON A.iparent = B.iparent
        INNER JOIN t_memory AS C
        ON B.ikid = C.ikid
        LEFT JOIN t_memory_comment as D
        ON C.inotice = D.inotice
        WHERE D.inotice_comment = #{imemory}
    </select>
    <!--                 추억앨범 댓글 작성 시 푸시를 받을 선생님의 토큰값과 pk값 조회                  -->
    <select id="selTeaFirebaseByLoginUserComment">
        SELECT tc_firebase_token AS FirebaseToken
        FROM t_teacher as A
        JOIN t_memory AS B
        ON A.iteacher = B.iteacher
        LEFT JOIN t_memory_comment as C
        ON B.imemory = C.imemory
        WHERE C.t_memory_comment = #{imemory}
    </select>
    <!--        추억 앨범 수정 시 푸시를 받을 추가된 아이들의 학부모 토큰값과 pk값 조회         -->
    <select id="selTeaFirebaseParents">
        SELECT A.pr_firebase_token AS FirebaseToken
        FROM t_parent AS A
        INNER JOIN t_parent_kid AS B
        ON A.iparent = B.iparent
        INNER JOIN t_memory_room AS C
        ON B.ikid = C.ikid
        WHERE C.imemory = #{imemory}
        and B.ikid in
        <foreach collection="ikids" item="kid" open="(" separator="," close=")">
            #{kid}
        </foreach>
    </select>
    <!--                    추억 앨범 글 수정                    -->
    <update id="updMemory">
        UPDATE t_memory
        SET memory_title = #{memoryTitle}
        , memory_contents = #{memoryContents}
        WHERE imemory = #{imemory}
    </update>
    <!--                    추억 앨범 수정 시 사진 삭제                    -->
    <delete id="delMemoryPic">
        DELETE FROM t_memory_album
        WHERE imemory_pic in
        <foreach collection="delPics" item="imemoryPic" open="(" separator="," close=")">
            #{imemoryPic}
        </foreach>
    </delete>
    <!--                    추억 앨범 사진 등록                    -->
    <insert id="insPicsMemory">
        INSERT INTO t_memory_album
        ( imemory, memory_pic)
        VALUES
        <foreach collection="memoryPics" item="memoryPic" separator="), (">
            ( #{imemory}, #{memoryPic} )
        </foreach>
    </insert>
    <!-- 추억 앨범 삭제 전 글 확인 -->
    <select id="selDelAlbum">
        SELECT count(imemory)
        FROM t_memory
        WHERE imemory = #{imemory}
    </select>

    <!-- 추억 앨범 수정 시 선택 해제 원아 room에서 지우기 -->
    <delete id="delKidRoom">
        DELETE FROM t_memory_room
        WHERE imemory = #{imemory}
    </delete>
</mapper>



