<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.preschool.preschoolhome.memory.MemoryMapper">
    <select id="allMemoryTea">
        SELECT A.imemory, C.ikid, A.memory_title as memoryTitle, A.memory_contents as memoryContents
        , A.teacher_nm as teacherNm, A.created_at as createdAt
        FROM t_memory A
        JOIN t_memory_room B
        ON A.imemory = B.imemory
        JOIN t_kid C
        ON B.ikid = C.ikid
        <where>
        <if test="iclass > 0">
            C.iclass = #{iclass}
        </if>
        <if test="search != null and search != '' ">
            (A.memory_title like concat ('%', #{search}, '%')
            OR C.kid_nm like concat ('%', #{search}, '%'))
        </if>
        </where>
        LIMIT #{startIdx}, #{rowCount}
    </select>
    <select id="allMemoryTeaCnt">
        SELECT Count(A.imemory)
        FROM t_memory A
        JOIN t_memory_room B
        ON A.imemory = B.imemory
        JOIN t_kid C
        ON B.ikid = C.ikid
        <where>
            <if test="iclass > 0">
                C.iclass = #{iclass}
            </if>
            <if test="search != null and search != '' ">
                (A.memory_title like concat ('%', #{search}, '%')
                OR C.kid_nm like concat ('%', #{search}, '%'))
            </if>
        </where>
    </select>
    <select id="allMemoryPar">
        SELECT A.imemory, C.ikid, A.memory_title as memoryTitle, A.memory_contents as memoryContents
        , A.teacher_nm as teacherNm, A.created_at as createdAt
        FROM t_memory A
        JOIN t_memory_room B
        ON A.imemory = B.imemory
        JOIN t_kid C
        ON B.ikid = C.ikid
        <where>
        <if test="ikid > 0">
            C.ikid = #{ikid}
        </if>
        <if test="search != null and search != '' ">
            (A.memory_title like concat ('%', #{search}, '%')
            OR C.kid_nm like concat ('%', #{search}, '%'))
        </if>
        </where>
        LIMIT #{startIdx}, #{rowCount}
    </select>
    <select id="allMemoryParCnt">
        SELECT Count(A.imemory)
        FROM t_memory A
        JOIN t_memory_room B
        ON A.imemory = B.imemory
        JOIN t_kid C
        ON B.ikid = C.ikid
        <where>
            <if test="ikid > 0">
                C.ikid = #{ikid}
            </if>
            <if test="search != null and search != '' ">
                (A.memory_title like concat ('%', #{search}, '%')
                OR C.kid_nm like concat ('%', #{search}, '%'))
            </if>
        </where>
    </select>
    <select id="iMemoryComment">
        SELECT COUNT(imemory_comment)
        FROM t_memory_comment
        WHERE imemory = #{imemory}
    </select>
</mapper>



