<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.preschool.preschoolhome.parent.ParentMapper">
    <select id="selCode">
        select ikid, kid_nm as kidNm, iclass, code
        from t_kid
        where code = #{code}
    </select>

    <select id="selKid">
        SELECT K.ikid, K.kid_nm AS kidNm
        FROM t_kid K
        JOIN t_parent_kid P
        ON K.ikid = P.ikid
        WHERE K.ikid = #{ikid}
    </select>

    <select id="connectParent">
        select iparent
        from t_parent_kid
        where ikid = #{ikid}
    </select>

    <insert id="insParentKidTable">
        insert into t_parent_kid
        set ikid = #{ikid}
        , iparent = #{iparent}
    </insert>

    <!--    <select id="selId">-->
    <!--        select uid-->
    <!--        from t_parent-->
    <!--        where uid = #{uid}-->
    <!--    </select>-->
    <select id="selParent">
        SELECT a.iparent, a.irelation, a.ilevel, a.uid, a.upw
        , a.parent_nm as parentNm, a.phone_nb as phoneNb
        , a.created_at as createdAt, a.pr_email as prEmail
        , a.firebase_token as firebaseToken, b.ikid
        from t_parent a
        join t_parent_kid b
        on a.iparent = b.iparent
        where uid = #{uid} and upw = #{upw}
    </select>
    <select id="checkParentsId">
        SELECT uid, upw, iparent, ilevel
        from t_parent
        where uid = #{uid} and upw = #{upw}
    </select>


    <!--    <update id="upCheckUid">-->
    <!--        <selectKey resultType="String" keyProperty="uid" order="BEFORE">-->
    <!--            select uid-->
    <!--            from t_parent-->
    <!--        </selectKey>-->
    <!--        update duplication_check-->
    <!--    </update>-->

    <update id="delParent">
        update t_parent
        set pr_is_del = 1
        where iparent = #{iparent}
    </update>

    <select id="checkParentInfo">
        select upw
        from t_parent
        where uid = #{uid}
    </select>

    <insert id="insParent" useGeneratedKeys="true" keyProperty="iparent">
        insert into t_parent
        set parent_nm = #{parentNm}
        , uid = #{uid}
        , upw = #{upw}
        , ilevel = 1
        , phone_nb = #{phoneNb}
        , irelation = #{irelation}
        , pr_email = #{prEmail}
    </insert>

    <select id="selBeforeInfo">
        select uid, parent_nm as parentNm, phone_nb as phoneNb, pr_email AS prEmail
        from t_parent
        where iparent = #{iparent}
    </select>

    <update id="putParent">
        update t_parent
        set
        <if test="parentNm != null">
            parent_nm = #{parentNm}
        </if>
        <if test="phoneNb != null">
            ,phone_nb = #{phoneNb}
        </if>
        <if test="prEmail != null">
            ,pr_email = #{prEmail}
        </if>
        <if test="upw != null">
            ,upw = #{upw}
        </if>
        where iparent = #{iparent}
    </update>

    <update id="updUserFirebaseToken">
        UPDATE t_parent
        SET firebase_token = #{firebaseToken}
        WHERE iparent = #{iparent}
    </update>

</mapper>