app:
  jwt:
    secret: DaeguGreenArtAcadenyClass502RoomForJavaSpringBootFighting
    header-scheme-name: authorization
    token-type: Bearer
    access-token-expiry: 7200000
    refresh-token-expiry: 1296000000

file:
  dir: D:/download/preschool/

spring:
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 15MB
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/preschool
    username: root
    password: green502

mybatis:
  mapper-locations: mappers/**/*.xml

springdoc:
  swagger-ui:
    path: /swagger.html

fcm:
  certification: serviceAccountKey.json

server:
  port: 8080
logging:
  level:
    -com.preschool.preschoolhome: debug

---
spring:
  config:
    activate:
      on-profile: "prod"
  datasource:
    url: jdbc:mariadb://192.168.0.144:3306/db_even_last_4
    username: even_last_4
    password: keystone

file:
  dir: /home/download/

logging:
  level:
    -com.preschool.preschoolhome: info